<% if current_user.id != @user.id%>
    <%=button_to 'Send Friend Request', friend_request_index_path, :params => {:recipient_id => @user.id, :sender_id => current_user.id}%>
<%end%> 
<br/>
<%if @user == current_user%>
    <%=link_to 'New Post', new_post_path%>
<%end%>
<br/><br/>

<p><%=@user.username%>'s posts: </p>
<%@user.posts.each do |post|%>

<p><%=post.title%></p>
<p><%=post.body%></p>

<%if post.liked?(@user) == false%>
    <%= link_to 'Like', new_like_path(:user_id => @user.id, :post_id => post.id)%>
<%else%>
    <%= link_to 'Unlike', like_path(post.get_like(@user)), method: :delete%>
<%end%><br/><br/>


<%post.comments.each do |comment|%>
    <p><%=comment.author_name%>'s comment:</p>
    <p><%=comment.content%></p><br/>
<%end%><br/>

    <%= render 'comment/comment_form', :user => current_user.id, :post => post.id%>
<%end%>