<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebookProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      <%if user_signed_in?%>
        <%=link_to 'Home', posts_path%>
        <%=link_to 'Profile', user_path(current_user.id)%>
        <%=link_to 'Sign Out', destroy_view_session_path, method: :delete%>

       <%if current_user.friend_requests.any?%>
        <%=form_with url: new_friend_request_path, method: :get do |f|%>
        <p>Friend requests from:</p>
          <%=f.collection_select(:friend_id, current_user.friend_requests, :id, :username)%>
          <%=f.submit 'Accept'%>
        <%end%>
      <%end%>
      <%end%>



    <%= yield %>
  </body>
</html>
