<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebookProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      <%if user_signed_in?%>
        <%=link_to 'Home', post_index_path%>
        <%=link_to 'Profile', user_path(current_user.id)%>
        <%=link_to 'Sign Out', destroy_view_session_path, method: :delete%>

        <%current_user.friend_requests.each do |request|%>
          <%=collection_select(:user,:friend_id, current_user.friend_requests, :id, :username)%>
          <%=button_to 'Accept', friend_request_path(:id), method: :patch, :params => {:recipient_id => current_user.id, :sender_id => :id}%>
        <%end%>
      <%end%>



    <%= yield %>
  </body>
</html>
